#demo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-variant: small-caps;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #cd7575;
    /* text-transform: uppercase; */
}

#wo {
    text-indent: 100px;
}

.test {
    background-color: rgba(127, 255, 0, 0.2);
    /* opacity: 0.1; */
    width: 50%;
    height: 100px;
    padding: 20px 10px;
    margin: 30px 1px 20px 65px;
    box-shadow: 2px 2px 7px red;
}

#circle {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    /* border-top-left-radius: 100px;
    border-bottom-right-radius: 50px; */
}

body {
    background-color: antiquewhite;
    /* background-image: url('../images/caar.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */

    /* background: url('../images/caar.jpg') no-repeat center center fixed;
    background-size: cover; */
}

h1,
h4 {
    color: rgb(255, 165, 0) !important;
    font-size: 60px;
    text-align: center;
    background-color: aqua;
}

p {
    color: red;
}

/* h3{
                color: purple;
            } */

h4 {
    font-style: italic;
}

div {
    /*    background-color: #d91a1a;
    width: 200px;
    height: 150px;
    display: inline-block;
    color: white;
    /* border: 10px groove purple; */
    /* border-left: 10px solid purple;
    border-right: 5px solid orange; */
    /* border-top: 5px solid orange;
    border-bottom: 5px solid orange; */
    /* border-top-color: purple;
    border-top-width: 10px;
    border-top-style: solid;
    border-color: ;
    border-width: ;
    border-style: ; */
}

span {
    background-color: #def10d;
    width: 400px;
    height: 200px;
    display: inline-block;
}

div h3 a,
p strong {
    color: green;
}

/* #abc, #xyz{
                width: 200px;
                height: 300px;
            } */

/* #xyz{

            } */

.pp {
    color: red;
    text-align: center;
}

span.pp {
    font-weight: bold;
    text-transform: uppercase;
}

.op {
    font-style: italic;
}

/* @media screen and (max-width: 800px) {
    body {
        background-color: green;
    }

    span.pp {
        font-weight: normal;
        font-size: 30px;
    }
}

 @media screen and (min-width: 801px) {
    body {
        background-color: black;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
    body {
        background-color: red;
    }
}

@media print {

    div,
    span,
    p {
        display: none;
    }

    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

*/
@media only screen and (orientation: landscape) {
    body {
        background-color: red;
    }
}